@page
@model CarDealerWeb.Pages.IndexModel

<h1>Nasze samochody</h1>

<div class="row">
    @foreach (var car in Model.Cars)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/Details?id=@car.id">@car.Brand @car.Model</a>
                    </h5>
                    <p class="card-text">
                        Rok: @car.Year <br />
                        Cena: @car.Price zł <br />
                        @car.Description
                    </p>
                </div>
            </div>
        </div>
    }
</div>